  

   <div class="hero">
  <div class="hero-content">
    <div class="globe-animation">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlSl7KWKV1J8t6buukX2rWx-E6CnzgPByp9Q&s" alt="a" class="globe">
      <span class="circle-spin"></span>
    </div>
    <h1 class="hero-title">Welcome to AF Travel Matrix</h1>
    <p class="hero-subtitle">Designed by Asgar Fataymamode</p>
    <!-- <a routerLink="/forthcoming-visitors" class="hero-button">Get Started</a> -->
    <button (click)="scrollToIntro()" class="hero-button">Get Started</button>
  </div>
</div>




<div class="intro" #introSection>


      <div class="globe-animation3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlSl7KWKV1J8t6buukX2rWx-E6CnzgPByp9Q&s" alt="a3" class="globe3">
        <span class="circle-spin3"></span>
      </div>





    <p>We understand the importance of staying connected across the many different branches of your company worldwide. Our Global Travel Tracker is designed to keep you informed about the movements of our team members, ensuring seamless communication and efficient scheduling.</p>
    <p>Our goal is to streamline your experience, making it easier to manage visits, schedule meetings, and ensure that you always know who is where, when, and why. Thank you for using our Global Travel Tracker, your gateway to a more connected and efficient workplace.</p>
    <p>Proceed to the next tabs to continue.</p>


    <div class="home-sci">
        <a href="https://www.instagram.com/02.asgar.02/" target="_blank"><i class='bx bxl-instagram'></i></a>
        <a href="https://www.facebook.com/asgar.fataymamode/" target="_blank"><i class='bx bxl-facebook'></i></a>
        <a href="https://linkedin.com/in/asgarfataymamode" target="_blank"><i class='bx bxl-linkedin'></i></a>
        <span class="animate" style="--i:6;"></span>
    </div>

      

</div>
  


    